
html, body {
  height: 100%;
}

body {
  padding-top: 3.5rem;
  background-color: #e5e5e5;
}

#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.section {
  background-color: #e5e5e5;
}

.hero.is-light {
  background-color: #e5e5e5;
}

header {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-image: url('http://i.imgur.com/v7KNPTq.gif');
  text-align: center;
  color: white;
}

.header-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 50px;
}

.header-content-inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 150px;
}

.has-bg-img {
  /* background: url('http://i.imgur.com/v7KNPTq.gif')center center; */
  background: url('/images/Boston_Back_Bay_reflection.jpg')center center;
  background-size: cover;
}

.has-bg-gif {
  background: url('/images/traffic.gif')center center;
  background-size: cover;
}

#leaflet-map {
  z-index: 0;
}

.max-height {
  height: 100%
}

.container {
  max-width: inherit;
  width: 100%;
  height: 100%;
}

#chart {
  display: inline-block;
}

#barChart {
  padding-top: 70px;
  padding-left: 30px;
  display: inline-block;
}

.bar {
  fill: #80cbc4;
}
