html, body {
  height: 100%;
}

body {
  padding-top: 3.5rem
}

#navBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#leaflet-map {
  z-index: 0;
}

.max-height {
  height: 100%
}

.navbar {
  padding: 0 10px 0 10px;
}

.container {
  max-width: inherit;
  width: 100%;
  height: 100%;
}

#chart {
  display: inline-block;
}

#barChart {
  padding-top: 70px;
  padding-left: 30px;
  display: inline-block;
}

.bar {
  fill: #80cbc4;
}
